---
import NavLink from './NavLink.astro';
---

<footer id="footer" role="contentinfo">
  <div class="contact-block">
    <h3 data-i18n="contact_us">Interested on further information? Contact with us:</h3>
    <ul>
      <li>
        <a href="mailto:info@ecoairplastics.com" aria-label="Send email to info@ecoairplastics.com">
          <i class="fa fa-solid fa-envelope" aria-hidden="true"></i>info@ecoairplastics.com
        </a>
      </li>
      <li>
        <a href="tel:+34937934856" aria-label="Call us at +34 93 793 48 56">
          <i class="fa fa-solid fa-phone" aria-hidden="true"></i>(+34) 93 793 48 56
        </a>
      </li>
      <li>
        <a
          href="https://maps.app.goo.gl/pHCDHef4q6L6EzRz8"
          target="_blank"
          rel="noopener"
          aria-label="View our location on Google Maps"
        >
          <i class="fa fa-solid fa-building" aria-hidden="true"></i>Carrer Josep Bastús i Planas, 15<br />Sant Joan
          Despí
        </a>
      </li>
    </ul>
  </div>

  <ul class="icons" aria-label="Social media links">
    <li>
      <a
        href="https://www.instagram.com/ecoairplasticssl"
        class="icon brands fas fa-instagram"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Follow us on Instagram"
      >
        <span class="label">Instagram</span>
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/search/results/people/?keywords=ecoair%20plastics&origin=FACETED_SEARCH"
        class="icon brands fas fa-linkedin"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Connect with us on LinkedIn"
      >
        <span class="label">LinkedIn</span>
      </a>
    </li>
  </ul>

  <ul class="copyright">
    <li><NavLink href="/legal/" data-i18n="legal">Legal notice (Spanish)</NavLink></li>
    <li>&copy; 2026 <span data-i18n="copyright">All rights reserved</span></li>
    <li>
      <span data-i18n="developed_by">Developed by</span>
      <a href="https://naturnum.com" target="_blank" rel="noopener">NaturNum</a>
    </li>
    <li>
      <span data-i18n="based_on">Based on Alpha by</span>
      <a href="https://pixelarity.com" target="_blank" rel="noopener">PIXELARITY</a>
    </li>
  </ul>
</footer>
