---
import BaseImage from './BaseImage.astro';
import NavLink from './NavLink.astro';
---

<div class="row">
  <div class="col-12">
    <section class="box special" aria-labelledby="team-heading">
      <span class="image featured">
        <BaseImage
          src="/images/team.jpg"
          alt="EcoAir Plastics engineering team working on filtration systems"
          loading="lazy"
          width={1200}
          height={340}
        />
      </span>
      <h3 id="team-heading" data-i18n="team-title">Our team</h3>
      <p data-i18n="team-description">
        We are a team of engineers specialised in filtration systems with over 10 years of combined experience.
      </p>
      <ul class="actions special">
        <li><NavLink href="/team" class="button alt" data-i18n="team-button">About us</NavLink></li>
      </ul>
    </section>
  </div>
</div>
