---
---
<div class="row">
  <div class="col-12">
    <section class="box special">
      <span class="image featured">
        <img src="/images/team.jpg" alt="Our Team" />
      </span>
      <h3 data-i18n="team-title">Our team</h3>
      <p data-i18n="team-description">We are a team of engineers specialised in filtration systems with over 10 years of combined experience.</p>
      <ul class="actions special">
        <li><a href="/team.html" class="button alt" data-i18n="team-button">About us</a></li>
      </ul>
    </section>
  </div>
</div>
