---

---

<section class="box special features" aria-labelledby="turnkey-heading">
  <div class="features-row py-[25px]">
    <section>
      <span class="icon solid major fas fa-file-circle-check accent3" aria-hidden="true"></span>
      <h3 id="turnkey-heading" class="mt-[15px]" data-i18n="turnkey-title">Turnkey systems</h3>
    </section>
    <section>
      <p data-i18n="turnkey-description">
        We are an engineering company providing environmental solutions for the industrial sector.<br />
        We have our own workshop where we manufacture and test all our equipment.<br />
        Our engineers and technicians handle the capture study, the design of suction ducts and the selection of the required
        treatment system.
      </p>
    </section>
  </div>
  <ul class="actions special mt-[20px]">
    <li><a href="/solutions360" class="button alt" data-i18n="turnkey-button">360º Solutions</a></li>
  </ul>
</section>
