---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'EcoAir Plastics | Environmental Solutions for Air Quality',
  description = 'EcoAir Plastics is a leading company in the production of plastic products for air filtration and purification in industry.',
} = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="EcoAir Plastics, filtration, air quality, industrial ventilation, corrosive gases, turnkey systems" />
    <meta name="author" content="EcoAir Plastics S.L." />
    <meta name="robots" content="index, follow" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <!-- Font Awesome 6 Free (CDN) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Google Fonts: Source Sans Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <slot name="head" />
  </head>
  <body class="landing">
    <slot />
  </body>
</html>
